/* */

.content {
  padding: 15px 20%;
}

.data {
  text-align: center;
}

.title {
  text-align: left;
}

.text {
  text-align: justify;
}
.card {
  text-align: left;
}

.footer {
  text-align: center;
}